OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=
OPENAI_EMBEDDING_DIMENSIONS=

ANTHROPIC_API_KEY=
ANTHROPIC_LARGE_MODEL=
ANTHROPIC_SMALL_MODEL=

INVESTMENT_MANAGER_DISCORD_APPLICATION_ID=
INVESTMENT_MANAGER_DISCORD_API_TOKEN=

# # Eli5
COMMUNITY_MANAGER_DISCORD_APPLICATION_ID=
COMMUNITY_MANAGER_DISCORD_API_TOKEN=
COMMUNITY_MANAGER_TELEGRAM_BOT_TOKEN=

# # Laura
SOCIAL_MEDIA_MANAGER_DISCORD_APPLICATION_ID=
SOCIAL_MEDIA_MANAGER_DISCORD_API_TOKEN=
SOCIAL_MEDIA_MANAGER_TWITTER_USERNAME=
SOCIAL_MEDIA_MANAGER_TWITTER_PASSWORD=
SOCIAL_MEDIA_MANAGER_TWITTER_EMAIL=

# # Ruby
LIAISON_DISCORD_APPLICATION_ID=
LIAISON_DISCORD_API_TOKEN=
LIAISON_TELEGRAM_BOT_TOKEN=

# # Jimmy
PROJECT_MANAGER_DISCORD_APPLICATION_ID=
PROJECT_MANAGER_DISCORD_API_TOKEN=
PROJECT_MANAGER_TELEGRAM_BOT_TOKEN=

# # Eddy
DEV_REL_DISCORD_APPLICATION_ID=
DEV_REL_DISCORD_API_TOKEN=
DEV_REL_TELEGRAM_BOT_TOKEN=
DEVREL_IMPORT_KNOWLEDGE=true
